<div class="content">
<!-- Toolbar -->
<mat-toolbar color="primary">
  <h1>Fibonacci Sequence Calculator</h1>
    <div class="spacer"></div>
</mat-toolbar>
  <form class="form" [formGroup]="fibonacciForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-form-field">
      <mat-label>Nth value of the Fibonacci sequence</mat-label>
      <input id="input" matInput type="number" placeholder="1" [formControl]="fibonacciForm.controls.nth" required>
      <mat-error *ngIf="fibonacciForm.controls.nth.hasError('required')">
        Input is required
      </mat-error>
      <mat-error *ngIf="fibonacciForm.controls.nth.hasError('min')">
        The value is lower than the minimum of 1
      </mat-error>
  </mat-form-field>
  </form>
  <ng-template id="max" [ngIf]="fibonacciArray.length > 0">
    <mat-card class="card-container"  style="margin-top: 10px">
      <mat-card-content id="maxValue" style="flex-wrap: wrap">
        <p>
          𝑓<sub>{{fibonacciArray.length - 1}}</sub>: {{fibonacciArray[fibonacciArray.length - 1]}}
        <br><br>
        Sequence array: [{{fibonacciArray}}]
        </p>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <cdk-virtual-scroll-viewport itemSize="10">
    <table cdk-table id="table" class="mat-elevation-z8 mat-table" [dataSource]="fibonacciArray" fixedLayout>
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> 𝑓<sub>n</sub> </th>
        <td mat-cell *matCellDef="let n; let i = index"> {{i}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let n;"> {{n}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No fibonacci data to view</td>
      </tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
