<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

    .card.highlight-card span {
      margin-left: 72px;
    }
</style>

<!-- Toolbar -->
<mat-toolbar color="primary">
  <h1>Fibonacci Sequence Calculator</h1>
    <div class="spacer"></div>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav id="sidenav" [disableClose]="true" class="sidenav" mode="side" opened>
    <div class="form" role="form">
      <form class="form" [formGroup]="fibonacciForm" (ngSubmit)="onSubmit()">
        <mat-card class="card-container">
          <mat-card-content>
            <mat-dialog-content>
              <mat-form-field class="example-form-field">
                <mat-label>Nth value of the Fibonacci sequence</mat-label>
                <input id="input" matInput type="number" placeholder="1" [formControl]="fibonacciForm.controls.nth" required>
                <mat-error *ngIf="fibonacciForm.controls.nth.hasError('required')">
                  Input is required
                </mat-error>
                <mat-error *ngIf="fibonacciForm.controls.nth.hasError('min')">
                  The value is lower than the minimum of 1
                </mat-error>
              </mat-form-field>
            </mat-dialog-content>
          </mat-card-content>

        </mat-card>
      </form>
    </div>
      <ng-template id="max" [ngIf]="fibonacciArray.length > 0">
        <mat-card class="card-container"  style="margin-top: 10px">
          <mat-card-content id="maxValue" style="flex-wrap: wrap">
            <p>
              𝑓<sub>{{fibonacciArray.length - 1}}</sub>: {{fibonacciArray[fibonacciArray.length - 1]}}
            <br><br>
            Sequence array: [{{fibonacciArray}}]
            </p>
          </mat-card-content>
        </mat-card>
      </ng-template>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
    <table mat-table id="table" class="mat-elevation-z8" [dataSource]="fibonacciArray">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> 𝑓<sub>n</sub> </th>
        <td mat-cell *matCellDef="let n; let i = index"> {{i}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let n;"> {{n}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>


